// footer
.footer {
  background: var(--color-blue-1);
  color: var(--color-white);
  &__container {
    max-width: 115rem;
    width: 95%;
    padding-top: 2.5rem;
    margin: auto;
    position: relative;
  }
  &__logo {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
  }
  &__info {
    display: flex;
    margin: auto;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap !important;
    padding-bottom: 3rem;

    & > * {
      flex: 0 0 25rem;
      position: relative;
      @media (max-width: $bp-md-xs) {
        flex: 0 0 27rem;
      }
      @media (min-width: $bp-l) {
        flex: 0 0 20rem;
      }
    }
  }
  &__nav {
    @media (max-width: $bp-md-xs) {
      text-align: center !important;
      margin: auto;
    }
    &:not(:last-child) {
      margin-bottom: 2rem;
    }
  }

  &__title {
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 500;
    @media (max-width: $bp-md-xs) {
      font-size: 2.3rem;
    }
    @media (max-width: $bp-md-xs) {
      text-align: center !important;
      display: inline-block;
    }
  }
  &__list {
    margin-top: 1.2rem;
    @media (max-width: $bp-md-xs) {
      display: none;
      transform: scaleX(0);
      transition: transform, ease-in-out 0.3s;
      transform-origin: top;
    }
  }
  &__item {
    font-size: 1.4rem;
    transition: all ease-in-out 0.2s;
    @media (max-width: $bp-md-xs) {
      font-size: 1.6rem;
    }
    &:not(:last-child) {
      margin-bottom: 1rem;
    }
    &:hover {
      transform: translateX(5px);
    }
  }
  &__icon {
    position: absolute;
    right: 0;
    display: none;
    @media (max-width: $bp-md-xs) {
      display: inline-block;
      cursor: pointer;
      transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 0.3s;
      &:hover {
        transform: translateY(-2px);
      }
    }
  }
  &__copyright {
    padding-bottom: 3rem;
    @media (min-width: $bp-md-s) {
      display: none;
    }
  }
}
//services
.services {
  padding: 6rem 0;
  &__container {
    max-width: 80rem;
    width: 95%;
    text-align: center;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    @media (max-width: $bp-md-s) {
      grid-template-columns: 1fr 1fr !important;
      row-gap: 6rem;
    }
  }
  &__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &:nth-last-child(2) {
      @media (max-width: $bp-md-s) {
        order: 1;
      }
    }
  }
  &__icon {
    background: var(--color-blue-2);
    color: var(--color-white);
    width: 5rem;
    height: 5rem;
    line-height: 5rem;
    border-radius: 50%;
    font-size: 3rem;
    cursor: pointer;
  }
  &__text {
    line-height: 1.2;
    span {
      font-size: 1.8rem;
    }
  }
}
//doc
.doc {
  &__container {
    background: url("./images/slider-2.png");
    height: 50rem;
    background-repeat: no-repeat;
    background-size: cover;
    width: 95%;
    max-width: 115rem;
    margin: auto;
    background-position: center;
    position: relative;
    @media (max-width: $bp-md-s) {
      height: 50rem;
    }
  }
  &__text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    color: var(--color-white);
    width: 42%;
    transform: translateY(-50%);
    @media (max-width: $bp-md-s) {
      width: 95%;
      transform: translate(-50%, -50%);
      text-align: center;
    }
  }
  &__paragraph {
    font-size: 1.4rem;
    line-height: 1.5;
    display: inline-block;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  &__title {
    line-height: 1.5;
    font-weight: 500;
  }
}
//counts
.counts {
  padding: 6rem 0;
  &__container {
    max-width: 115rem;
    width: 95%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    @media (max-width: $bp-md-xs) {
      flex-direction: column;
    }
  }
  &__text {
    color: var(--color-blue-2);
    text-align: center;
    color: var(--color-grey);
    font-weight: 500;

    @media (max-width: $bp-md) {
      flex: 0 0 50%;
      &:not(:last-child) {
        margin-bottom: 3rem;
      }
    }
    @media (max-width: $bp-md-xs) {
      font-size: 2rem;
    }
  }
  h1 {
    font-size: 2rem;
    color: var(--color-blue-2);
    transform: translateY(1rem);
    font-weight: 600;
    line-height: 1.8;
    @media (max-width: $bp-md-xs) {
      font-size: 2.6rem;
    }
  }
}
//demo
.demo {
  &__container {
    max-width: 115rem;
    width: 95%;
    margin: auto;
    padding: 5rem 0;
    display: flex;
    justify-content: space-between;
    @media (max-width: $bp-md-xs) {
      text-align: center;
    }
    @media (max-width: $bp-md-l) {
      flex-direction: column !important;
      gap: 4rem;
    }
    & > * {
      flex: 0 0 47%;
    }
  }
  &__image {
    overflow: hidden;
    flex: 0 0 50%;
    position: relative;
    img {
      display: block;
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
    h2 {
      position: absolute;
      bottom: 0;
      left: 0;
      text-align: center;
      color: var(--color-white);
      width: 100%;
      font-weight: 400;
      cursor: pointer;
      padding-bottom: 1rem;

      a {
        margin-right: 0.8rem;
        transform: translateY(0.4rem);
        background: rgba(0, 0, 0, 0.5);
      }
    }
  }
  &__content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    @media (max-width: $bp-md-xs) {
      flex-direction: column !important;
      gap: 4rem;
      text-align: center;
    }
  }
  &__text {
    flex: 0 0 60%;
    @media (max-width: $bp-l) {
      flex: 0 0 65%;
    }
  }
  &__fr {
    flex: 0 0 25%;
    @media (max-width: $bp-md-xs) {
      margin-top: -3rem;
      margin-bottom: -3rem;
      width: initial;
    }
    @media (max-width: $bp-l) {
      flex: 0 0 5%;
      width: 16rem;
      display: inline-block;
    }
  }
  p {
    padding-right: 1rem;
    @media (max-width: $bp-md-xs) {
      padding-right: 0;
    }
    @media (max-width: $bp-l) {
      padding-right: 0;
      width: 100%;
    }
  }
  &__btn {
    display: inline-block;
    margin-top: 3rem;
    @media (max-width: $bp-md-xs) {
      margin-top: 1rem;
    }
  }
}
//lesplus
.lesplus {
  &__container {
    width: 115rem;
    max-width: 95%;
    margin: auto;
  }
  &__title {
    text-align: center;
  }
  &__p {
    text-align: center;

    display: inline-block;
  }
  &__text-box {
    max-width: 65rem;
    width: 95%;
    margin: auto;
    margin-top: 2rem;
  }
}
//product
.product {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
  justify-content: space-around;
  row-gap: 3rem;
  margin-top: 2rem;
  margin-bottom: 3rem;

  &__single-item {
    border: solid rgba(153, 153, 153, 0.363) 1px;
    border-bottom: solid rgba(153, 153, 153, 0.36) 1.5px;
    height: auto;
    padding: 1rem;
    position: relative;
  }
  &__header {
    max-width: 35rem;
    width: 100%;
    display: flex;

    gap: 0.5rem;

    span {
      color: var(--color-grey);
    }
  }
  &__image {
    align-self: baseline;
    height: 100px;
    width: 100px;
  }
  &__title {
    font-size: 1.6rem;
    color: var(--color-black);
    @media (max-width: $bp-l) {
      font-size: 1.4rem;
    }
  }
  &__text {
    color: var(--color-grey);
    margin-top: 0.5rem;
    margin-bottom: -0.5rem;
    display: inline-block;
  }
  &__title2 {
    color: var(--color-black) !important;
    text-transform: uppercase;
    font-weight: 500;
  }
  &__control {
    display: flex;
    margin-top: 3.5rem;
    padding-bottom: 1.5rem;
    @media (max-width: $bp-md-xs) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 2rem;
    }
  }
  input {
    height: 2.6rem;
    width: 3.8rem;
    text-align: center;
  }
  &__price {
    color: var(--color-blue-2);
    font-size: 1.8rem;
  }
  &__old-price {
    font-size: 1.3rem !important;
    color: var(--color-grey) !important;
    display: block;
    margin-bottom: -0.5rem;
    margin-top: -1rem;
    text-decoration: line-through;
  }
  &__btns {
    @media (max-width: $bp-md-xs) {
      margin-top: 2rem;
    }
  }
}
.categorie {
  &__container {
    max-width: 115rem;
    width: 95%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    transform: translateY(-7rem);
  }
  &__item {
    position: relative;
    max-width: 33rem;
    width: 100%;
    border: solid 2px white;
    img {
      max-width: 100%;
      object-fit: contain;
    }
  }
}
.text-box {
  position: absolute;
  top: 50%;
  left: 10%;

  transform: translateY(-50%);
  display: flex;
  color: var(--color-white);
  justify-content: center;
  align-items: center;

  line-height: 1.2;
  a {
    width: 3rem;
    height: 3rem;
    margin-left: 1rem;
  }
  p {
    font-size: 2rem;
  }
  span {
    font-size: 2.5rem;
  }
}
.backg {
  text-align: center;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("./images/slider-hp.png");
  height: 45rem;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  @media (max-width: $bp-md) {
    background-position: right;
  }
  &__text-box {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    color: white;
    font-size: 3rem;
    letter-spacing: 2.5px;
    font-weight: 200;
    max-width: 700rem;
    width: 95%;
    @media (max-width: $bp-md-xs) {
      font-size: 2rem;
    }
  }
}
.main-nav {
  @media (max-width: $bp-md-s) {
    position: fixed;
    top: 0;
    left: 0;
    visibility: hidden;
    opacity: 0;
    z-index: 1000;
    width: 100%;
    transition: all 0.2s ease-in-out 0.3s;
  }
  &__list {
    max-width: 115rem;
    width: 95%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    color: var(--color-black);
    font-size: 1.4rem;
    font-weight: 500;
    gap: 0.5rem;
    @media (max-width: $bp-md-s) {
      flex-direction: column;
      width: 100%;
      height: 100vh;
      justify-content: flex-start;
      margin-top: 7rem;
      align-items: center;
      font-size: 1.7rem;
      gap: 0;
    }
  }
  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

    min-width: 9rem;
    @media (max-width: $bp-md-s) {
      &:not(:last-child) {
        margin-bottom: 2rem;
      }
    }
    @media (max-width: $bp-md-s) {
      min-width: 0;
    }
  }
  &__link {
    display: inline-block;
    padding: 0.5rem 1rem;
    padding-bottom: 0.8rem;
    transition: all 0.2s ease-in-out;
    @media (max-width: $bp-md) {
      text-align: center;
    }
    @media (max-width: $bp-md-s) {
      padding: 0.7rem 1.5rem;
    }
    &:hover {
      color: var(--color-white);
      background: var(--color-blue-1);
    }
  }
}
.circle {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  display: inline-block;
  background: var(--color-grey);
  position: absolute;
  right: 0;
  transform: translateX(300%);
  @media (max-width: $bp-md-l-l) {
    display: none;
  }
}
.active {
  background: var(--color-blue-1);
  border-bottom: 2px #59c9e3 solid;
  color: white;
  @media (max-width: $bp-md-s) {
    border-bottom: 3px #59c9e3 solid;
  }
}
.header {
  &__container {
    width: 95%;
    max-width: 115rem;
    margin: auto;
  }
  &__toolbar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3rem;
    margin-top: 2rem;
    flex-wrap: wrap;
  }
  &__logo {
    @media (max-width: $bp-extra-small) {
      height: 4rem !important;
    }
    @media (max-width: $bp-md-s) {
      margin-right: auto;
      display: inline-block;
      height: 4.5rem;
      width: auto;
      margin-bottom: 1.5rem;
    }
  }
  &__search {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    i {
      transform: translateX(-200%);
      cursor: pointer;
    }
    @media (max-width: $bp-extra-small) {
      flex: 0 40% !important;
      order: 1;
      justify-content: flex-start;
    }
    @media (max-width: $bp-md-s) {
      flex: 0 66%;
      order: 1;
      justify-content: flex-start;
    }
    @media (max-width: $bp-md-xs) {
      flex: 0 50%;
    }
  }
  &__input {
    max-width: 40rem;
    width: 100%;
    border-radius: 500000px;
    outline: none;
    height: 2.5rem;
    border: solid 1.5px rgba(0, 0, 0, 0.7);
    padding: 0.5rem 1.5rem;
    font-size: inherit;
    font-family: inherit;
    color: var(--color-black);
    &::placeholder {
      font-family: inherit;
      font-size: inherit;
      font-weight: 500;
      color: rgba(0, 0, 0, 0.705);
    }
    @media (max-width: $bp-md-s) {
      max-width: 40vw;
    }
    @media (max-width: $bp-extra-small) {
      max-width: 35vw;
    }
    &-1 {
      display: none;
      @media (max-width: $bp-md-s) {
        display: inline-block;
      }
    }
    &-2 {
      display: none;
      @media (min-width: $bp-md-s) {
        display: inline-block;
      }
    }
  }
  a {
    font-weight: 500;

    box-shadow: 0 0.2rem 0.4rem rgba(153, 153, 153, 0.609);
    &:not(:last-child) {
      margin-right: 2rem;
      color: var(--color-blue-2);
    }
  }
  &__btn {
    border-radius: 50%;
    width: 3.5rem;
    height: 3.5rem;

    display: inline-flex;
    justify-content: center;
    align-items: center;
  }
  &__btn-downlaod {
    border-radius: 5000000px;

    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0 1.5rem;
    @media (max-width: $bp-md-s) {
      flex: 0 0 20%;
      order: 2;
      margin-right: 0 !important;
    }
    @media (max-width: $bp-extra-small) {
      padding: 0 0.7rem !important;
    }
    img {
      padding-left: 1rem;
    }
    transform: translateY(-10%);
  }
}
.open {
  background: var(--color-blue-1);
  color: var(--color-white);
  font-size: 2rem;
  @media (min-width: $bp-md-s) {
    display: none;
  }
}
.nav-mobile-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  transform: scale(0);

  background: var(--color-white);
  transition: all 0.7s ease-in-out !important;
  @media (min-width: $bp-md-s) {
    display: none;
  }
}
.open--nav {
  visibility: visible;
  opacity: 1 !important;
}
.scale1 {
  transform: scale(44);
}
.close {
  position: absolute;
  top: 2rem;
  left: 2rem;
  z-index: 5000000;
  background: var(--color-blue-1);
  color: var(--color-white);
  font-size: 2rem;
  @media (min-width: $bp-md-s) {
    visibility: hidden;
  }
}
.top-bar {
  margin-bottom: 3.5rem;
  background: var(--color-blue-1);
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  @media (max-width: $bp-md-s) {
    justify-content: center;
  }
  &__container {
    max-width: 115rem;
    width: 95%;
    margin: auto;
    display: flex;
    @media (max-width: $bp-md-s) {
      justify-content: center;
    }
  }
  color: var(--color-white);
  &__list {
    display: flex;
    margin-top: 0.5rem;
    align-items: flex-start;
    font-size: 1.2rem;
    font-weight: 300;
    cursor: pointer;
    @media (max-width: $bp-md-s) {
      justify-content: center;
    }
  }
  &__item {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      padding-right: 1rem;
    }
    &:not(:first-child) {
      padding-right: 2rem;
      @media (max-width: $bp-md-s) {
        display: none;
      }
    }
    &:nth-of-type(1) {
      padding-right: 2rem;
      border-right: solid 2px var(--color-white);
      @media (max-width: $bp-md-s) {
        border: none;
        padding-right: 0rem;
      }
    }
    &:nth-of-type(2) {
      padding-left: 2rem;
      padding-right: 4rem;
    }
  }
  &__btn {
    margin-left: auto;
    font-size: 1.3rem;
    @media (max-width: $bp-md-l-l) {
      display: none;
    }
  }
  &__link {
    background: var(--color-blue-2);
    display: inline-flex;
    padding: 0 0.8rem;
    height: 3.6rem;
    justify-items: center;
    align-items: center;
    &:not(:last-child) {
      margin-right: 0.5rem;
    }
    &:hover {
      background: var(--color-blue-1);
    }
    i {
      margin-left: 1rem;
      font-size: 1.4rem;
    }
  }
}
.btn-up {
  width: 4rem;
  height: 4rem;
  background: white;
  color: var(--color-blue-2);
  border: solid 1.5px var(--color-blue-1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 0;
  top: 0;
  transform: translateY(-50%);
  font-size: 1.9rem;
}
