.t-bold {
  font-weight: 500;
}
.t-upper {
  text-transform: uppercase;
}
.heading--primary {
  font-size: 2rem;
  color: var(--color-blue-2);
  line-height: 1.4;
  &-b {
    color: var(--color-black);
  }
}
.paragraph {
  font-size: 1.4rem;
  line-height: 1.5;
  font-weight: 500;
  display: inline-block;
  color: var(--color-black);
  &:not(:last-child) {
    margin-bottom: 1rem;
  }
}
