:root {
  //color
  --color-blue-1: #124867;
  --color-blue-2: #16819b;
  --color-white: #e5ebee;
  --color-black: #2d2d2d;
  --color-grey: #999999;
}
//breakpoint
$bp-extra-small: 22.4em;
$bp-md-s: 52em;
$bp-md-xs: 35em;
$bp-md: 55rem;
$bp-md-l: 60em;
$bp-md-l-l: 69em;
$bp-l: 87em;
